BasedOnStyle: Google
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentWidth: 4
ColumnLimit: 100
SpaceBeforeCpp11BracedList: true
