CompileFlags:
  Add: [
    -Wno-gnu-statement-expression-from-macro-expansion
  ]

Diagnostics:
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      portability-*,
      modernize-*,
      clang-analyzer-*
      cppcoreguidelines-init-variables
    ]
    Remove: [
      modernize-avoid-c-arrays,
      modernize-use-nodiscard,
      bugprone-easily-swappable-parameters,
      bugprone-implicit-widening-of-multiplication-result
    ]